/* Landingpage CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-stroke {
    -webkit-text-stroke: 0.5px black; /* Stroke untuk browser WebKit */
    text-shadow: 0 0 0 black; /* Fallback untuk browser non-WebKit */
}

.dropdown.show .dropdown-content {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dropdown.show .dropdown-toggle .arrow {
    transform: rotate(180deg);
}

.nav-link.active {
    color: black;
}

.sidebar.show {
    display: block;
    transform: translateX(0);
    animation: slideIn 0.3s ease-in-out forwards;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    position: relative;
}

.ul1 li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.ul1 li a:hover::after {
    transform: scaleX(1);
}

.overlay.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
